@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(img/water.jpg) fixed;
}

/* HEADER */
.header {
  padding: 20px 0 40px 20px;
  height: 7vh;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: rgb(27, 27, 27, 0.6);
  position: fixed;
  z-index: 10;
}

img {
  width: 210px;
}

.divLogo {
  width: 400px;
}
.divBubbles {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
}

.compte {
  height: 100px;
  width: 100px;
  margin-top: -3%;
}

.panier {
  height: 100px;
  width: 100px;
  margin-top: -3%;
}

/* SECTION 1 */
section {
  height: 100vh;
  width: 100vw;
}

.section1,
.section2 {
  display: flex;
}
/*LEFT */

.divLeft1,
.divLeft2 {
  height: 100vh;
  width: 48vw;
}

.imgAcc,
.imgS2 {
  justify-items: center;
  height: 500px;
  width: 500px;
  margin-top: 30vh;
  margin-left: 10%;
}

/* RIGHT */

.divRight1 {
  display: flex;
  height: 100vh;
  width: 48vw;
  justify-content: space-around;
}

.divBubblesR {
  height: 100%;
  width: 100vw;
  margin-top: 27vh;
  margin-left: 30vw;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 20px;
}

.imgBubble1,
.imgBubble2,
.imgBubble3 {
  height: 230px;
  width: 230px;
}

.imgBubble2 {
  margin-left: 12vh;
  margin-top: -5vh;
}
.imgBubble3 {
  margin-top: -15vh;
  margin-left: -15vh;
}

/* SECTION 2 */

.section2 {
  height: 130vh;
  width: 100vw;
  margin-top: 50vh;
}

.divImgS2 {
  position: absolute;
  z-index: 1;
}

/*SECTION3 */
.section3 {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.divLeft3 {
  height: 100%;
  width: 48%;
}

.divRight3 {
  width: 48%;
  position: relative;
  display: flex;
}

.imgS3 {
  height: 800px;
  width: 800px;
  margin-top: 15vh;
  margin-left: -5vw;
  z-index: 1;
}

.divBubbleR {
  height: 820px;
  width: 820px;
  position: relative;
}
.divProduitS3 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  width: 700px;
  height: 700px;
  z-index: 2;
  font-size: 100%;
  text-align: center;
  top: 30%;
  left: 5%;
}

.ajoutPanier {
  height: 100px;
  width: 100px;
}

.RhumAmbre,
.RhumAgricole {
  display: flex;
  width: 80%;
  align-items: center;
  padding: 3%;
}
