@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Poppins:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(img/water.jpg);
}

/* HEADER */
.header {
  padding: 30px 0 40px 20px;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(27, 27, 27, 0.4);
  position: fixed;
}

img {
  height: 80px;
  width: 210px;
}

.divLogo {
  width: 400px;
}
.divBubbles {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
}

.compte {
  height: 100px;
  width: 100px;
}

.panier {
  height: 100px;
  width: 100px;
}

/* SECTION 1 */
section {
  height: 100vh;
  width: 100vw;
}

.section1,
.section2 {
  display: flex;
}
/*LEFT */

.divLeft1,
.divLeft2 {
  height: 100vh;
  width: 48vw;
}

.imgAcc,
.imgS2 {
  justify-items: center;
  height: 500px;
  width: 500px;
  margin-top: 25vh;
  margin-left: 10%;
}

/* RIGHT */

.divRight1 {
  display: flex;
  height: 100vh;
  width: 48vw;
  justify-content: space-around;
}

.divBubblesR {
  height: 100%;
  width: 100vw;
  margin-top: 27vh;
  margin-left: 30vw;
  display: flex;
  flex-direction: column;
}

.divBubble1,
.divBubble2,
.divBubble3 {
  height: 30vh;
  width: 20vw;
  display: flex;
}

.imgBubble1,
.imgBubble2,
.imgBubble3 {
  height: 230px;
  width: 230px;
}

.imgBubble2 {
  margin-left: 12vh;
  margin-top: -8vh;
}
.imgBubble3 {
  margin-top: -20vh;
  margin-left: -15vh;
}

.aboutAcc {
  height: 30px;
  width: 130px;
  color: black;
  font-size: 22px;
  text-align: center;
  margin-left: -12vw;
  margin-top: 8vh;
}
.rhumAcc {
  height: 30px;
  width: 130px;
  color: black;
  font-size: 22px;
  text-align: center;
  margin-left: -12vw;
  margin-top: 3vh;
}

.sugAcc {
  height: 30px;
  width: 130px;
  color: black;
  font-size: 22px;
  text-align: center;
  margin-left: -12vw;
  margin-top: -10vh;
}

/* SECTION 2 */

.section2,
.section3 {
  height: 100vh;
  width: 100wv;
}

/* .imgS2,
.imgS3 {
  justify-items: center;
  height: 500px;
  width: 500px;
  top: 10%;
  left: 10%;
} */
